view of an RFC's metadata in "Info" tab

This is related to #722.  For an RFC (in contrast to a draft), regarding the Info tab's "Document Dependencies" portion -- For example, RFC 9110, on https://purple.staging.ietf.org/docs/draft-ietf-httpbis-semantics (screenshot attached):

- For obs and upd relationships, please use RFC numbers not draft strings. e.g., please change `obs  draft-ietf-httpbis-p2-semantics` to `obs  RFC 7231`.
- Please change the field name "Target Draft Name" to "Document" or otherwise because each item in the table is an RFC, not a draft.
- Please consider separating more clearly the display of "Cluster" from Obsoletes and Updates relationships. The current display of both underneath "Document Dependencies" makes it appear as if "Cluster" (which is a label used for in-queue processing) is somehow related to the list of Obsoletes and Updates relationships between RFCs that follows (but it's not).
- The Obsoleted by and Updated by relationships are not shown in Purple currently, presumably they are to be added. For example: RFC 7615 - https://purple.staging.ietf.org/docs/draft-ietf-httpbis-auth-info shows one `obs draft-ietf-http-authentication` relationship, but not the obsoleted-by relationship. What's expected: 
```
Obsoletes RFC 2617
Obsoleted by RFC 9110
```

<img width="826" height="644" alt="Image" src="https://github.com/user-attachments/assets/d60c1d2e-60bf-4357-8d70-839a8e4c0352" />